//widescreen
@include media-xl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

//desktop
@include media-lg {
}

//tablets
@include media-md {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1.5rem;
    }
  }

  div.menu-branding,
  ul.menu-nav {
    width: 100%;
    float: none;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(-100%, 0, 0);

    .portrait {
      width: 125px;
      height: 125px;
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }

  .about-info {
    grid-template-areas:
      "bio-img"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

//phones
@include media-sm {
  .projects {
    grid-template-columns: 1fr;
  }
}
